# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
PORT=5000
SECRET_KEY=your_secret_key_here

# Database Connection String
# Example SQLite: sqlite:///investify.db
# Example PostgreSQL: postgresql://username:password@localhost:5432/investify_db
DATABASE_URL=sqlite:///investify.db

# SMTP Email Configuration (for sending OTPs)
SMTP_SENDER_EMAIL=your_email@gmail.com
SMTP_APP_PASSWORD=your_gmail_app_password
